<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Password Generator</title>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
<div class="bg-white p-6 rounded shadow-md max-w-md w-full">

    <form action="/generate_pswd" method="POST" class="flex flex-col items-right">
        <label for="min_length">Min Length:<input type="number" id="min_length" name="min_length" value="12" required class="mt-2 mb-4 p-2 border rounded"></label>

        <label for="spec_chars"><input type="checkbox" id="spec_chars" name="spec_chars" checked class="mr-2"> Include Special Characters</label><br>
        
        <label for="numbers"><input type="checkbox" id="numbers" name="numbers" checked class="mr-2"> Include Numbers</label><br>

        <input type="submit" value="Generate Password" class="py-3 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-gray-200 rounded-full border border-gray-200 hover:bg-gray-300 hover:text-black focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
    </form>
    
<div class="flex flex-col items-center p-2">
    {% block data %} 

    <p class="text-center">{{ password }}</p>
    <button onclick="copyToClipboard('{{ password }}')" class="mt-2 px-4 py-2 bg-black text-white rounded-full hover:bg-gray-600 focus:outline-none focus:ring focus:border-blue-300">
        Copy to Clipboard
    </button>

    {% endblock %}
    
</div>

<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text);
    }
</script>
</body>
</html>

